Flask==2.1.2
Flask-SQLAlchemy==2.5.1
 
"Для возможности автоматического создания переменной среды (текстовая переменная системы, хранящая какую-либо информацию), которая прописана в файле >.flaskenv<.
Это делается, потому что переменные среды не запоминаются в сеансах терминала."
python-dotenv==0.20.0

Flask-WTF==1.0.1
