Flask==2.1.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
email-validator==1.2.1
python-dotenv==0.20.0
python-telegram-bot==13.13
flake8==3.9.1
flake8-bugbear==22.7.1
flake8-builtins==1.5.3
flake8-commas==2.1.0
flake8-functions==0.0.7
flake8-import-order==0.18.1
flake8-length==0.3.0
flake8-variables-names==0.0.5
pep8-naming==0.13.0