<section id="about" class="about">
    <div class="container">
        <div class="about__row1-title">
            <div>О проекте</div>
        </div>
        <div class="about__row2-text">
            <div>There are many variations of passages of Lorem Ipsum available, 
                but the majority have suffered alteration in some form, by injected humour, 
                or randomised words which don't look even slightly believable. 
                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. 
                All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.
            </div>
        </div>
        <div class="about__row3-navs">
            <div class="about__block">
                <nav class="about__overlap">
                    <a href="#sections" class="nav__link about__nav-text">возможности аренды</a>
                </nav>
            </div>
            <div class="about__block">
                <nav class="about__overlap">
                    <a href="#tenants" class="nav__link about__nav-text">компании на территории</a>
                </nav>
            </div>
        </div>
    </div>
</section>
