<section class="footer">
    <div class="footer__wrapper">
        <div class="footer__block1">
            <div class="footer__block1__contacts">
                <div class="coontacts__headline">
                    Контакты
                </div>
                <div class="coontacts__refs">
                    <a href="#" class="coontacts__ref">
                        <span style="margin-right:20px;"><img src="{{ url_for('static', filename = 'img/frame.svg') }}"/></span>7 922 104 85 16</a><br>
                    <a href="#" class="coontacts__ref">
                        <span style="margin-right:20px;"><img src="{{ url_for('static', filename = 'img/frame1.svg') }}"/></span>livestroy.info@gmail.com</a><br>
                    <a href="#" class="coontacts__ref">
                        <span style="margin-right:20px;"><img src="{{ url_for('static', filename = 'img/frame2.svg') }}"/></span>t.me/livestroy</a><br>
                    <a href="#" class="coontacts__ref">
                        <span style="margin-right:20px;"><img src="{{ url_for('static', filename = 'img/frame3.svg') }}"/></span>Динамовское шоссе, 7</a>
                </div>
                <div class="coontacts__footer">
                    <a href="#" class="coontacts__footer-ref">ООО “ЖилСтрой” 2022 ©</a>
                </div>
            </div>
        </div>
        <div class="footer__block2-yanmap">
            <div id="map" class="map"></div>  
        </div>
    </div>
</section>