<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__block1">
                <a href="/" class="header__logo">
                    <img src="{{ url_for('static', filename = 'img/logo.svg') }}" />
                </a>
            </div>
            <div class="header__block2">
                <nav class="overlap1">
                    <a href="#map-svg" class="nav__link navs-text">карта</a>
                </a>
            </div>
            <div>
                <nav class="overlap1">
                    <a href="#about" class="nav__link navs-text">о проекте</a>
            </div>
            <div class="header__block3">
                <nav class="overlap1">
                    <a href="#footer" class="nav__link navs-text">контакты</a>
                </div>
            </div>
        </div>
        <!-- /header__wrapper -->
    </div>
    <!-- /container -->
</header>