<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'css/style.css') }}">
    {% include "scripts/yandex_map_js.html" %}
    {% include "scripts/autocomplete_ajax.html" %}
</head>
<body>
    {% include "content/header.html" %}
    {% include "content/map.html" %}
    {% include "content/about.html" %}
    {% include "content/sections.html" %}
    {% include "content/tenants.html" %}
    {% include "content/footer.html" %}
</body>
</html>
