<form action= ""  method="POST" >
    <div class="form-group" id="tag">
        {{ tenant_form.hidden_tag() }}
    <br>
        {{ tenant_form.name.label }}
        {{ tenant_form.name }}
    <br>
        {{ tenant_form.submit2 }}
<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("main.autocomplete") }}'
            }).done(function (data) {
                $('#autocomplete').autocomplete({
                    source: data.json_list,
                    minLength: 2
                });
            });
        });
    </script>
</form>
{% if tenant %}
<h2>{{ tenant.name }}</h2>
{% for section in tenant.section %}
<h3>{{ section.index }} - {{ section.building.street }}, {{ section.building.index }}</h3>    
{% endfor %}
{% endif %}