<script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_api }}&lang=ru_RU" type="text/javascript"></script>
<script text="text/javascript">  
    function init(){
        let map = new ymaps.Map('map', {
            center: [55.06771639944237,60.09706398026949],
            zoom: [17]});
        {% for coordinate in buildings_data %}
        var index = 'mark_' + '{{ coordinate.index }}' 
        var lat = {{ coordinate.lat }}
        var lon = {{ coordinate.lon }}

        index = new ymaps.Placemark([lat, lon])
        map.geoObjects.add(index)
        {% endfor %}
    ;}
    ymaps.ready(init)
    </script> 